:root {
	--headerColor: #4A4A4A;
	--textColor: #434A54;
	--fontFamily: "Titillium Web", sans-serif;
	--secondFamily: "Inter", sans-serif;
}

body {
	font-family: var(--secondFamily);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--fontFamily);
}

.container {
	max-width: 1500px;
	margin: 0 auto;
	padding: 0 30px;
}
