.header {
	color: #666666;
	opacity: 0.85;
	/* margin-top: 20px; */
	padding: 20px 0;
}

.header__row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	column-gap: 30px;
}

.header__logo {

}

.header__nav ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 22px;
}

.header__nav ul li{
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0.02em;
	color: rgba(102, 102, 102, 0.85);
}