.container {
	max-width: 1080px;
	margin: 0 auto;
}

.header {
	color: #666666;
	opacity: 0.85;
	margin-top: 20px;
}

.header__row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

}