.blog__title {
	font-family: var(--secondFamily);
	font-weight: 500;
	font-size: 24px;
	line-height: 121%;
	letter-spacing: 0.01em;
	color: var(--headerColor);
	margin-bottom: 12px;
}

.blog__grid {
	display: grid;
	grid-template:  repeat(2, 1fr) / repeat(3, 330px);
	grid-auto-rows: 1fr;
	column-gap: 30px;
	row-gap: 55px;
	justify-content: start;
}