.footer {
	margin: 0 auto;
	padding: 50px 0 100px;
}

.footer__row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: start;
}

ul {
	width: 240px;
}

ul span {
	font-family: var(--secondFamily);
	font-weight: 600;
	font-size: 14px;
	line-height: 120%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: var(--headerColor);
}

ul li {
	font-family: var(--fontFamily);
	font-weight: 400;
	font-size: 14px;
	line-height: 171%;
	letter-spacing: 0.02em;
	margin-top: 8px;
}

ul li a {
	display: inline-block;
	color: #637280;
	text-decoration: none;
	transition: color 0.5s ease-in, transform 0.25s ease-in;
}

ul li a:hover {
	text-decoration: underline;
	color: #1d6ff3;
	transform: scale(1.1);
}

ul .divider {
	margin-top: 20px;
}

ul .links {
	margin-top: 17px;
	display: flex;
	gap: 9px;
	justify-content: flex-start;
	align-items: center;
}